.chart-container {
  display: flex;
  flex-direction: column; /* Arrange nav bar on top */
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .chart-container{
    height: 70vh;
  }
}

.nav-bar {
  align-self: flex-start; /* Align navigation bar to the top-left */
  margin-bottom: 20px;
  width: 100%;
}
