.stat{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.table .stat-time-column {
    width: 50%;
}

.table .stat-actions-column {
    width: 50%;
}

.chart-container {
    height: min(60vh, 50vw) !important;
    text-align: center;
}

.chart-container .recharts-wrapper {
    display: inline-block;
}

.form > * {
    margin-bottom: 8px;
}